<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Cladevo by HIGHLANDER-95</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/cladevo.css' %}" />

        <style>
            details {
                cursor: pointer;
                margin-top: 20px;
            }

            summary {
                list-style: none;
            }

            summary::marker {
                display: none;
            }

            summary h2 {
                display: inline;
            }

            details[open] summary h2 {
                color: #2c3e50; /* Adjust color to fit the Editorial template */
            }
        </style>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Header -->
					<header id="header">
						<a href="{% url 'home' %}" class="logo"><strong>Cladevo</strong> by HIGHLANDER-95</a>
						<ul class="icons">
                            <li><a href="https://github.com/noginpavlo" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                            <li><a href="https://t.me/highlender0302" class="icon brands fa-telegram" target="_blank"><span class="label">Instagram</span></a></li>
                            <li><a href="https://www.instagram.com/2seconds5pictures/" class="icon brands fa-instagram" target="_blank"><span class="label">Medium</span></a></li>
						</ul>
					</header>

                    <!-- Text section -->
                    <div class="theory-text-div">
                        <h2 id="clustering" class="theory-h2-text">What is Cladevo and who is it for?</h2>
                        <p class="theory-text">Cladevo is an online tool designed for constructing phylogenetic trees using the UPGMA (Unweighted Pair Group Method with Arithmetic Mean) and Neighbor-Joining (NJ) algorithms. This platform enables users to generate dendrograms based on flexible data input methods. Users can upload FASTA or Excel files or manually input DNA sequences to obtain phylogenetic trees within seconds.</p>
                        <p class="theory-text">This tool is intended for researchers, educators, and students who require an accessible solution for phylogenetic analysis. Scientists may utilize Cladevo for a preliminary examination of data before committing to more advanced bioinformatics software, such as MEGA or DarWin. Additionally, students can use Cladevo to explore dataset modifications, enhancing their understanding of UPGMA and NJ algorithms through interactive experimentation.</p>
                        <hr/>

                        <h2 id="upgma" class="theory-h2-text">What is the purpose of Cladevo?</h2>
                        <p class="theory-text">The primary objective of Cladevo is to facilitate the rapid construction of phylogenetic trees. The application's functionality is intentionally limited to fundamental features, ensuring a user-friendly experience. Data input is formatted for compatibility with widely used tools such as Excel and text editors, while all subsequent data processing is fully automated.</p>
                        <p class="theory-text">Cladevo is specifically designed as an alternative to professional, multifunctional bioinformatics software such as DarWin and MEGA, which, while powerful, can be complex and require significant time to learn. The goal of Cladevo is to enable users to generate their first phylogenetic tree within 10 minutes, requiring no prior experience. As a web-based tool, it eliminates the need for installation or extensive training, providing an intuitive entry point for users to explore phylogenetic analysis before transitioning to more advanced software.</p>

                        <details>
                            <summary><h3 id="story" class="blue-ref">Let me tell you the story behind Cladevo's creation...</h3></summary>
                            <p  class="theory-text">I was an undergraduate student when Russia invaded my country. Like millions of others, I had to leave Ukraine, searching for shelter and peace across Europe. Many Ukrainians were constantly on the move, relocating twice, even three times a year—and I was one of them. A lot changed in my life, but I was determined to keep working on my diploma project, which I was doing at ICBGI (Institute of Cell Biology and Genetic Engineering).</p>
                            <p  class="theory-text">By the time I graduated, the study my project was part of was still unfinished. My colleagues at ICBGI and I had gathered a ton of valuable data on spelt in the lab, but it all needed bioinformatics analysis—specifically, phylogenetic trees. And for me, that meant building the trees while moving from place to place with limited resources.</p>
                            <p  class="theory-text">At the time, all I had was an old MacBook. Later, I managed to buy a second-hand desktop PC, but I had to sell it pretty soon because—surprise, surprise—I had to move again. Every time I switched devices, I had to reinstall everything from scratch. Running DarWin on Wine emulator was a nightmare, and even when I finally got it to work, moving files in and out of Wine, processing them, and copying them back to my system was just painfully inconvenient.</p>
                            <p  class="theory-text">And that’s when I had a thought:<br>What if I didn’t need installing the sofrware all the time?<br>What if all I needed was a web browser?<br>What if I didn’t have to struggle with DarWin’s complex interface and endless file management?<br>(Anyone who has used this software will get what I mean right away.)<br>What if there was a simpler, faster tool that automated all of this?</p>
                            <p  class="theory-text">❗Just to be clear—although I found DarWin’s file management system a bit busy and inconvenient, I want to emphasize that it’s an amazing, well-established tool for bioinformatics. It’s packed with powerful features and built by professionals, for professionals. I’ve used it a lot, I still do, and I highly recommend checking it out! You can find it following this link: <a href="https://darwin.cirad.fr/index.php" target="_blank">DarWin</a>.</p>
                            <p  class="theory-text">That idea stuck with me, and I decided to build it myself. There are already a few options online, but none that supported SSR genotyping data, which I specifically needed. So, I made one—and honestly, it was fun!</p>
                            <p  class="theory-text">Now, I just hope that one will find Cladevo helpful. I hope it saves some time for you from unnecessary installation, Wine tricks (if preferred system is not Widnows), and sorting through way too many files and folders. So if you find it useful, great! And if you run into any issues, feel free to reach out—my contact info is in the Contacts section.</p>
                            <p  class="theory-text">Just a heads-up: I’m managing Cladevo completely on my own, with zero funding, so I can’t guarantee I’ll be able to reply to every email. But if you really need a response, just mark your email in the subject line (something like "Requires a response"), and I’ll do my best. Even if I can’t reply, I truly appreciate all feedback and suggestions!</p>
                        </details>
                        <hr/>

                        <h2 id="nj" class="theory-h2-text">Features & Functionality</h2>
                        <p class="theory-text">Cladevo is a powerful yet user-friendly tool for building phylogenetic trees with minimal effort. Its simple interface and straightforward functionality make it ideal for both beginners and experienced researchers. Here are some key features:</p>
                        <ol>
                            <li>
                                <h3>Phylogenetic Algorithms</h3>
                                    <ul>
                                        <li><p class="theory-text" style="text-indent: 0em;">Users can construct phylogenetic trees using the Neighbor-Joining (NJ) and UPGMA (Unweighted Pair Group Method with Arithmetic Mean) algorithms. These widely used methods provide a robust way to analyze genetic relationships and visualize evolutionary histories.</p></li>
                                    </ul>
                            </li>
                            <li>
                               <h3>Molecular Markers & PCR Gel Electrophoresis</h3>
                                    <ul>
                                        <li><p class="theory-text" style="text-indent: 0em;">Cladevo supports the analysis of molecular markers, often used in combination with PCR (Polymerase Chain Reaction) and gel electrophoresis techniques—SSR genotyping. These methods are frequently employed in genetic research for identifying specific DNA sequences and comparing genetic diversity. Researchers working with data from gel electrophoresis experiments can easily integrate their results into Cladevo for phylogenetic analysis. The tool is also compatible with FASTA files and allows users to directly paste DNA sequences into the app, providing flexibility for various types of input.</p></li>
                                    </ul>
                            </li>
                            <li>
                                <h3>Speed & Accessibility</h3>
                                <ul>
                                    <li><p class="theory-text" style="text-indent: 0em;">Cladevo is designed for quick, efficient use—no installation or prior experience is required. With just a few clicks, users can upload their data and generate phylogenetic trees in seconds, making it an ideal tool for quick data exploration and preliminary analysis.</p></li>
                                </ul>
                            </li>
                             <li>
                                <h3>Simplified Workflow</h3>
                                <ul>
                                    <li><p class="theory-text" style="text-indent: 0em;">The interface has been streamlined to ensure that users can easily create their first phylogenetic tree without navigating complex features. Whether you're a student or a professional, Cladevo's simplicity makes it accessible and intuitive for everyone.</p></li>
                                </ul>
                            </li>
                             <li>
                                <h3>Educational Resources</h3>
                                <ul>
                                    <li><p class="theory-text" style="text-indent: 0em;">Cladevo includes basic educational materials to brief students on what underlying algorithms are. Information about UPGMA and Neighbor-Joining is readily available in <a href="{% url 'theory' %}" target="_blank">Theory</a> section.</p></li>
                                </ul>
                            </li>
                             <li>
                                <h3>Completely Free</h3>
                                <ul>
                                    <li><p class="theory-text" style="text-indent: 0em;">Cladevo is entirely free to use. There are no hidden fees or subscription models—just a straightforward, accessible tool for anyone who needs it.</p></li>
                                </ul>
                            </li>
                        </ol>
                        <hr/>
                        <h2 id="contacts" class="theory-h2-text">About & Contact</h2>
                        <p class="theory-text">Hi, I'm Nohin Pavlo, a biotechnology graduate from Kyiv Polytechnic Institute (KPI). I created Cladevo on my own, inspired by my own research challenges. If you have any feedback, suggestions, or bug reports, feel free to reach out!</p>
                        <section>
                            <ul class="contact">
                                <li class="icon solid fa-envelope"><a href="#">nohinpavlo@gmail.com</a></li>
                                <li class="icon solid fa-home">Sweden, Vilhelmina</li>
                                <li class="icon solid fa-phone">+46 76 715 28 73</li>
                            </ul>
                        </section>
                        <hr/>
                    </div>

                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; Cladevo. All rights reserved. Design by <a href="https://html5up.net">HTML5 UP</a>.</p>
                    </footer>
                    <!-- Sidebar -->
                    <div id="sidebar">
                        <div class="inner">

                            <!-- Menu -->
                            <nav id="menu">
                                <header class="major">
                                    <h2>Menu</h2>
                                </header>
                                <ul>
                                    <li><a href="{% url 'home' %}">Homepage</a></li>
                                    <li><a href="{% url 'parameters' %}">Build your tree</a></li>
                                    <li><a href="{% url 'docs' %}">How to use</a></li>
                                    <li>
                                        <span class="opener">Theory</span>
                                        <ul>
                                            <li><a href="{% url 'theory' %}#clustering">Hierarchical clustering methods</a></li>
                                            <li><a href="{% url 'theory' %}#upgma">UPGMA</a></li>
                                            <li><a href="{% url 'theory' %}#nj">Neighbor-Joining(NJ)</a></li>
                                            <li><a href="{% url 'theory' %}#upgma-vs-nj">UPGMA or NJ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">About</a></li>
                                </ul>
                            </nav>

                            <!-- Section -->
                            <section>
                                <header class="major">
                                    <h2>Get in touch</h2>
                                </header>
                                <p>If you encounter any issues with the web app, feel free to report them via email. As I manage Cladevo alone, I may not be able to respond to every message, but I sincerely appreciate all feedback and will read every email.<br> <br>I’m also open to collaboration and professional opportunities in Sweden. Feel free to reach out!</p>
                                <ul class="contact">
                                    <li class="icon solid fa-envelope"><a href="#">nohinpavlo@gmail.com</a></li>
                                    <li class="icon solid fa-user">I'm Nohin Pavlo</li>
                                    <li class="icon solid fa-home">Sweden, Uppsala</li>
                                    <li class="icon solid fa-phone">+46 76 715 28 73</li>
                                </ul>
                            </section>

                            <!-- Footer -->
                            <footer id="footer2">
                                <p class="copyright">&copy; Cladevo. This project is licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
                                <p class="copyright">Built with components from <a href="https://html5up.net" target="_blank">HTML5 UP</a>, licensed under <a href="https://html5up.net/license" target="_blank">Creative Commons Attribution 3.0 License</a>.</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="{% static 'js/cladevo_jquery.min.js' %}"></script>
        <script src="{% static 'js/cladevo_browser.min.js'%}"></script>
        <script src="{% static 'js/cladevo_breakpoints.min.js'%}"></script>
        <script src="{% static 'js/cladevo_util.js' %}"></script>
        <script src="{% static 'js/cladevo_main.js' %}"></script>

    </body>
</html>