<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Cladevo by HIGHLANDER-95</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/cladevo.css' %}" />
        <style>
            .video-container {
                width: 840px;
                height: 473px;
                margin: 20px auto;
                border: 2px solid #ccc;
                border-radius: 10px;
                overflow: hidden;
            }
            .main-footer {
				background: linear-gradient(to right, #ffffff 0%, #f8f8f8 50%, #ffffff 100%) !important;
				padding: 20px 0 !important;
			}

			.main-footer p {
				font-size: 0.9rem;
				font-weight: 300; /* Lighter weight for a softer look */
			}
			.main-footer {
				margin-top: -27px; /* Creates a small gap between main content and footer */
			}
			.main-footer p {
				font-size: 0.9rem !important;
				font-weight: 300 !important; /* Lighter weight for a softer look */
				text-align: center !important; /* Centers the text */
			}
        </style>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Header -->
					<header id="header">
						<a href="{% url 'home' %}" class="logo"><strong>Cladevo</strong> by HIGHLANDER-95</a>
						<ul class="icons">
                            <li><a href="https://github.com/noginpavlo" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                            <li><a href="https://t.me/highlender0302" class="icon brands fa-telegram" target="_blank"><span class="label">Instagram</span></a></li>
                            <li><a href="https://www.instagram.com/2seconds5pictures/" class="icon brands fa-instagram" target="_blank"><span class="label">Medium</span></a></li>
						</ul>
					</header>

                    <!-- Text section -->
                    <div class="theory-text-div">
                        <h2 id="clustering" class="theory-h2-text">How to use Cladevo</h2>
                        <p class="theory-text">This video provides an introduction to the basic features of Cladevo. It includes a brief overview of usage, covering parameters input, FASTA files structure and manual sequence input. This guide is aimed at helping users quickly understand and navigate the tool effectively.</p>
                        <h3 class="docs-h2-text"><a class="icon solid fa-arrow-circle-down"> Watch the video below for basic understanding of Cladevo usage.</a></h3>
                        <div class="video-container">
                            <iframe
                                width="100%"
                                height="100%"
                                src="https://www.youtube.com/embed/hZaibf3aJDY"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <hr/>

                        <h2 id="upgma" class="theory-h2-text">How and Why to Use Excel File Data Input in Cladevo</h2>
                        <p class="theory-text">Excel data input is designed specifically for datasets derived from molecular marker research, such as PCR and gel electrophoresis results. These methods are essential for identifying genetic variations, analyzing DNA sequences, and understanding the genetic makeup of samples. PCR amplifies specific DNA segments, while gel electrophoresis separates these fragments based on size, making it easier to visualize and interpret results.</p>
                        <p class="theory-text">If you’re working with data from these techniques, you’ll learn how to structure your Excel files properly and when this functionality is most useful. I’ll focus on the practical steps and share insights into the technical requirements, making sure you’re set up for success in your analyses.</p>
                        <h3 class="docs-h2-text"><a class="icon solid fa-arrow-circle-down"> Watch the video below  for Excel input explaination.</a></h3>
                        <div class="video-container">
                            <iframe
                                width="100%"
                                height="100%"
                                src="https://www.youtube.com/embed/hZaibf3aJDY"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <hr/>
                        <footer class="main-footer">
                            <p class="copyright">&copy; Cladevo. This project is licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
                            <p class="copyright">Built with components from <a href="https://html5up.net" target="_blank">HTML5 UP</a>, licensed under <a href="https://html5up.net/license" target="_blank">Creative Commons Attribution 3.0 License</a>.</p>
                        </footer>
                    </div>
                </div>
            </div>


            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menu</h2>
                        </header>
                        <ul>
                            <li><a href="{% url 'home' %}">Homepage</a></li>
                            <li><a href="{% url 'parameters' %}">Build your tree</a></li>
                            <li><a href="{% url 'docs' %}">How to use</a></li>
                            <li>
                                <span class="opener">Theory</span>
                                <ul>
                                    <li><a href="{% url 'theory' %}#clustering">Hierarchical clustering methods</a></li>
                                    <li><a href="{% url 'theory' %}#upgma">UPGMA</a></li>
                                    <li><a href="{% url 'theory' %}#nj">Neighbor-Joining(NJ)</a></li>
                                    <li><a href="{% url 'theory' %}#upgma-vs-nj">UPGMA or NJ</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'about' %}">About</a></li>
                        </ul>
                    </nav>

                    <!-- Section -->
                    <section>
                        <header class="major">
                            <h2>Get in touch</h2>
                        </header>
                        <p>If you encounter any issues with the web app, feel free to report them via email. As I manage Cladevo alone, I may not be able to respond to every message, but I sincerely appreciate all feedback and will read every email.<br> <br>I’m also open to collaboration and professional opportunities in Sweden. Feel free to reach out!</p>
                        <ul class="contact">
                            <li class="icon solid fa-envelope"><a href="#">nohinpavlo@gmail.com</a></li>
                            <li class="icon solid fa-user">I'm Nohin Pavlo</li>
                            <li class="icon solid fa-home">Sweden, Uppsala</li>
                            <li class="icon solid fa-phone">+46 76 715 28 73</li>
                        </ul>
                    </section>

                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; Cladevo. This project is licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
                        <p class="copyright">Built with components from <a href="https://html5up.net" target="_blank">HTML5 UP</a>, licensed under <a href="https://html5up.net/license" target="_blank">Creative Commons Attribution 3.0 License</a>.</p>
                    </footer>
                </div>
            </div>
        </div>
    		<!-- Scripts -->
			<script src="{% static 'js/cladevo_jquery.min.js' %}"></script>
			<script src="{% static 'js/cladevo_browser.min.js'%}"></script>
			<script src="{% static 'js/cladevo_breakpoints.min.js'%}"></script>
			<script src="{% static 'js/cladevo_util.js' %}"></script>
			<script src="{% static 'js/cladevo_main.js' %}"></script>
    </body>
</html>